// Overrides for certain GOV.UK Frontend styles to make its components match this application's design

// Additional padding-bottom override, following the GOV.UK Frontend spacing scale:
// https://design-system.service.gov.uk/styles/spacing/#the-responsive-spacing-scale
.govuk-\!-padding-bottom-12 {
  padding-bottom: 70px;

  @include govuk-media-query($from: tablet) {
    padding-bottom: 90px;
  }
}

.govuk-footer__navigation {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2rem 0 !important;
}

.govuk-footer__section {
  -webkit-flex-basis: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 100%;
}

@include govuk-media-query($from: tablet) {

  .govuk-footer__navigation {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }

  .govuk-footer__section {
    -webkit-flex-basis: 200px;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
  }

}

// Make column headings smaller to prevent wrapping
.govuk-footer__heading {
  @include govuk-font($size: 19, $weight: bold);
}

.govuk-button {
  margin-bottom: 0px;
}

// Allow legends that contain the h1 to go full width
.govuk-fieldset__legend.govuk-grid-column-full {
  // $class parameter is deprecated but needed for v2 of GOVUK Frontend. Remove for v3 & above
  @include govuk-grid-column(full, $class: false);
}

.govuk-button {
  
  &,
  &:link,
  &:visited {
    background: $brand-navy !important;
    color: $white !important;
    box-shadow: 0 2px 0 $brand-navy !important;
  }

  &:hover {
    background: $brand-green !important;
    color: $off-black !important;
    box-shadow: 0 2px 0 $brand-navy !important;
  }

  &:active,
  &:focus {
    background: $govuk-focus-colour !important;
    color: $govuk-focus-text-colour !important;
  }
}

.govuk-button--secondary {
  &,
  &:link,
  &:visited {
    background: $brand-navy-10 !important;
    color: $off-black !important;
  }

  &:hover {
    background: $brand-navy !important;
    color: $white !important;
  }

  &:active,
  &:focus {
    background: $govuk-focus-colour !important;
    color: $govuk-focus-text-colour !important;
  }
}

.govuk-header {
  background: white !important;
  color: $brand-navy !important;
  border-bottom: 1px solid $brand-navy-10 !important;

  .govuk-header__navigation--end {
    padding: 15px 0 !important;
  }
}

.govuk-header__container {
  // border-bottom-color: $brand-navy-10 !important;
  border-bottom: none !important;
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (max-width: 768px) {
    padding-bottom: 2px;
  }
}

.govuk-header__content {
  margin-top: 0.5em !important;
  float: right !important;
  width: calc(100% - 11em) !important;
}

.govuk-header__link:link, 
.govuk-header__link:visited,
.govuk-header__menu-button {
  color: $brand-navy !important;
  text-decoration: none !important;
  padding: 0.7rem 1.5rem;
  border-radius: 100px !important;
  font-weight: 500;
  margin: 0 !important;

  @media (max-width: 992px) {
    padding: 0.6rem 1rem !important;
  }
}

.govuk-header__link:hover {
  color: $brand-navy !important;
  background-color: $brand-navy-10 !important;
  text-decoration: none !important;
}

.govuk-header__link:active,
.govuk-header__link:focus {
  color: white !important;
  background-color: $brand-navy !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

.govuk-header__logo {
  color: white !important;
  margin: 0 !important;
  padding-left: 0 !important;
  width: 11em !important;

  &:link, 
  &:visited {
    color: white !important;
    text-decoration: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }

  &:hover {
    color: white !important;
    background-color: transparent !important;
    text-decoration: none !important;
    border: none !important;
    box-shadow: none !important;
  }

  &:active,
  &:focus {
    color: white !important;
    background-color: transparent !important;
    text-decoration: none !important;
    box-shadow: none !important;
    border: none !important;
  }  
}

.govuk-header__menu-button {
  margin-top: 15px !important;
}

.govuk-header__navigation-item {
  margin-right: 0 !important;
}

.govuk-footer {
  background-color: $brand-navy !important;

  color: white !important;


  .govuk-footer__section-break {
    border-bottom: 1px solid $brand-navy-75 !important;

    &:focus {
      border-bottom: none !important;
    }
  }

  .govuk-footer__link {
    color: white !important;
  }

  .govuk-footer__heading {
    border-bottom: 1px solid $white;
    color: white !important;
  }
}


.govuk-heading-m {
  color: $brand-navy !important;
}


.product-page-intro {
  background-color: $brand-yellow !important;
  color: $brand-navy !important;

  p, a {
    color: $brand-navy-75 !important;
  }
}


.product-page-section {
  color: $brand-navy !important;
}


.govuk-body {
  color: $brand-navy !important;
}

.breadcrumbs--inverse {
  border-bottom-color: $brand-navy !important;
}

.panel {
  border-color: $brand-green !important;
}

.sms-message-wrapper {
  background: $brand-light-turquoise !important;
  border-color: $brand-light-turquoise !important;

  &:after {
    border-bottom-color: $brand-light-turquoise !important;
    border-left-color: $brand-light-turquoise !important;
  }
}

.show-more,
.show-more span,
.show-more-no-border span {

  border-color: $brand-navy-75 !important;

  &:focus,
  &:active {
    border: none !important;
  }
}

.govuk-footer__copyright-logo,
.govuk-footer__licence-logo,
.govuk-footer__licence-description {
  display: none !important;
}


.phase-banner {
  margin-top: 20px;
  margin-bottom: 20px;

  a {
    color: $brand-navy !important;
  }

  .phase-notice {
    position: relative;
    top: 1px;
    left: 6px;
  }
}

.phase-label {
  line-height: 24px;
  height: 24px;
  border-radius: 12px;
  display: inline-block;
  padding: 0 16px;
  text-align: center;

  &.is-alpha {
    color: $alpha-label-text;
    background-color: $alpha-label-bg;
  }

  &.is-beta {
    color: $beta-label-text;
    background-color: $beta-label-bg;
  }

  &.is-discovery {
    color: $discovery-label-text;
    background-color: $discovery-label-bg;
  }

  &.is-idea {
    background-color: $idea-label-bg;
    border: 1px solid $discovery-label-bg;
  }
  
  &.is-live {
    color: $live-label-text;
    background-color: $live-label-bg;
  }

  &.is-scoping {
    background-color: $scoping-label-bg;
    border: 1px solid $discovery-label-bg;
  }
}

.govuk-width-container {
  position:  relative !important;
}

.govuk-footer__socialmedia {
    position: absolute;
    display: block;
    top: 0;
    right: 0;

    @media (max-width: 768px) {
      position: static;
      margin: 2em 0 0em;
    }

    a {
      vertical-align: top;
      display: inline-block;
      margin: 0 1rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      @media (max-width: 768px) {
        transform: scale(0.8);
      }
    }

    .socialmedia-twitter {
      height: 24px;
      width: auto;
    }
    .socialmedia-linkedin {
      height: 25px;
      width: auto;
    }
    .socialmedia-youtube {
      height: 30px;
      width: auto;
    }
}
