{% from "components/table.html" import mapping_table, row, text_field, edit_field, field with context %}
{% extends "content_template.html" %}

{% block per_page_title %}
  Roadmap
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Roadmap</h1>

  <p class="govuk-body">The Catalyst Notify roadmap shows the things we’re working on and when we hope to have them ready for you to use.</p>
  <p class="govuk-body">The roadmap is a guide to what we have planned, but some things might change.</p>
  <p class="govuk-body">You can <a class="govuk-link govuk-link--no-visited-state" href="{{url_for('.support')}}">contact us</a> if you have any questions about the roadmap or suggestions for new features.</p>

  <h2 class="heading-medium">July 2021 onwards</h2>

  <ul class="list list-bullet">

    <li>Beta launch</li>
  </ul>

{% endblock %}
