{% extends "fullwidth_template.html" %}
{% from "components/button/macro.njk" import govukButton %}

{% block meta %}
  <meta name="description" content="Catalyst Notify lets you send emails, text messages and letters to your users. Try it now if you work in central government, a local authority, or the NHS.">
{% endblock %}

{% block pageTitle %}
  Catalyst Notify
{% endblock %}

{% block content %}

  <div class="product-page-intro">
    <div class="product-page-intro-wrapper" data-module="homepage">
      <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs">
       <ol itemscope itemtype="http://schema.org/BreadcrumbList">
         <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
           <a class="govuk-link govuk-link--no-visited-state" href="https://www.thecatalyst.org.uk/" itemprop="item"><span itemprop="name">Catalyst</span></a>
         </li>
         <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
           <a class="govuk-link govuk-link--no-visited-state" href="#main" itemprop="item"><span itemprop="name">
             Catalyst Notify</span></a>
         </li>
       </ol>
      </nav>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1>
            Send text messages to your service users.
          </h1>
          <p class="govuk-body">
            Try Catalyst Notify now if you're a charity. Apply to us to be part of the Alpha test. Notify is not to be used for fundraising communications.
          </p>
          <div class="button-container">
            {{ govukButton({
              "element": "a",
              "text": "Create an account",
              "classes": "product-page-button button-container__button govuk-!-margin-right-3",
              "href": url_for('main.register' )
            }) }}
            or <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('.sign_in' )}}">sign in</a> if you’ve used
            it before
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-page-section">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2>
          Control your content
        </h2>
        <p class="govuk-body">
          You do not need any technical knowledge to create text messages
        </p>
      </div>
      <div class="govuk-grid-column-one-half">
      </div>
    </div>
  </div>
  <div class="product-page-section">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2>
          See how your messages perform
        </h2>
        <p class="govuk-body">
          Track how many messages you’ve sent and find out which ones are not being delivered.
        </p>
      </div>
      <div class="govuk-grid-column-one-half">
      </div>
    </div>
  </div>
  <div class="product-page-section">
    <h2 class="with-keyline">
      Send messages manually or automatically
    </h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p class="govuk-body">
          Upload a spreadsheet of phone numbers and Notify sends the messages.
        </p>
      </div>
      <div class="govuk-grid-column-one-half">
        <p class="govuk-body">
          Integrate the Catalyt Notify API with your web application or back office system.
        </p>
      </div>
    </div>
  </div>
  <div class="product-page-section">
    <div class="with-keyline bottom-gutter-2" id="whos-using-notify">
      <h2>Who’s using Catalyst Notify</h2>
      <div class="govuk-grid-row bottom-gutter">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-visually-hidden">Services</h3>
          <div class="product-page-big-number">{{ counts.services|format_thousands }}</div>
          services
        </div>
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-visually-hidden">Organisations</h3>
          <div class="product-page-big-number">{{ counts.organisations|format_thousands }}</div>
          organisations
        </div>
      </div>
    </div>
  </div>
  <div class="product-page-section">
    <div class="with-keyline bottom-gutter-2">
      <h2>Pricing</h2>
      <div class="govuk-grid-row bottom-gutter">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-visually-hidden">Text messages</h3>
          <div class="product-page-big-number">Free up to 1000 messages a month for charities accepted on the Alpha test.</div>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="align-with-big-number-hint">
            There’s no monthly charge, no setup fee and no&nbsp;procurement process.
          </p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
