{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  Support
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">Support</h1>

  {% call form_wrapper() %}
    {% if current_user.is_authenticated %}
      {{ form.support_type }}
    {% else %}
      <p class="govuk-body">
        What do you need help with?
      </p>
      {{ form.who }}
    {% endif %}
    {{ page_footer('Continue') }}
  {% endcall %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="heading-medium">Alpha</h2>
    <p class="govuk-body">While the project is in the Alpha pahse there is no support level agreement, we aim to reply within one working day.</p>
  </div>
</div>

{% endblock %}
