{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}

{% block per_page_title %}
  Branding and customisation
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Branding and customisation</h1>
  
  <h2 class="heading-medium" id="text-message-sender">Change the text message sender</h2>

  <p class="govuk-body">The text message sender tells your users who the message is from.</p>

  <p class="govuk-body">To change the text message sender from the default of ‘GOVUK’:</p>

  <ol class="list list-number">
    <li>Go to the <b class="govuk-!-font-weight-bold">Text message settings</b> section of the {{ service_link(current_service, 'main.service_settings', 'settings') }} page.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Manage</b> on the <b class="govuk-!-font-weight-bold">Text message senders</b> row.</li>
    <li>Select <b class="govuk-!-font-weight-bold">Change</b> or <b class="govuk-!-font-weight-bold">Add text message sender</b>.</li>
</ol>

{% endblock %}
