{% extends "content_template.html" %}
{% from "components/page-header.html" import page_header %}

{% block per_page_title %}
  Who can use Notify
{% endblock %}

{% block content_column_content %}

  {{ page_header(
    'Who can use Notify'
  ) }}

  <p class="govuk-body">
    Catalyst Notify is available to:
  </p>
  <ul class="list list-bullet">
    <li>Charities</li>
    <li>Not for profit organisations</li>
    <li>Community interest companies</li>
  </ul>
 
  <p class="govuk-body">
    Someone from the public sector organisation you’re working with needs to set up the account. Then they can invite you as a team member.
  </p>

  <h2 class="govuk-heading-m">Members of the public</h2>
  <p class="govuk-body">
    The Catalyst Notify service is only for people who work in charity organisations.
  </p>
  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="https://www.thecatalyst.org.uk/">Find government services and information on Catalyst</a>.
  </p>

{% endblock %}
