@import 'settings/typography-font-families';


// whites, blacks & greys
$white: #FFF;
$off-white: #F5F5F5;
$off-black: #121212;
$brand-navy: #0A0039;
$mid-grey: #9A9A9A;

// brand colours
$brand-red: #FF5C5C;
$brand-pink: #EE7ABB;
$brand-turquoise: #22CAE1;
$brand-yellow: #FFE8B4;
$brand-green: #09CA77;
$brand-navy-5: rgba($brand-navy, 0.05);
$brand-navy-10: #E6E5EB;
$brand-navy-75: #474069;

$brand-light-turquoise: #C5F1F7;

// functional colours
$green: #019B59;

// active/inactive
$active-state: $green;
$inactive-state: $mid-grey;

// phase banners
$alpha: #FF64BE;
$alpha-label-bg: #FBD0E9;
$alpha-label-text: #990059;

$beta: #FF8000;
$beta-label-bg: #FFD9B3;
$beta-label-text: #663300;

$discovery: #0CA6F3;
$discovery-label-bg: #CEECFD;
$discovery-label-text: #043049;

$idea: #C2E9FC;
$idea-label-bg: #F0FAFE;
$idea-label-text: #043049;

$live: #00B200;
$live-label-bg: #ABEDAB;
$live-label-text: #003906;

$scoping: #86D2F9;
$scoping-label-bg: #E7F6FE;
$scoping-label-text: #043049;

$govuk-link-colour: $brand-navy-75;
$govuk-link-hover-colour: $brand-navy;
$govuk-link-active-colour: $brand-navy;
$govuk-border-colour: $brand-navy-75;
$govuk-focus-text-colour: $black;


$govuk-button-colour: $brand-navy-75; // sass-lint:disable no-color-literals
$govuk-button-hover-colour: $brand-navy;
$govuk-button-shadow-colour: govuk-shade($brand-navy-75, 60%);
$govuk-button-text-colour: $white;

// Secondary button variables
$govuk-secondary-button-colour: $mid-grey;
$govuk-secondary-button-hover-colour: govuk-shade($govuk-secondary-button-colour, 10%);
$govuk-secondary-button-shadow-colour: govuk-shade($govuk-secondary-button-colour, 40%);
$govuk-secondary-button-text-colour: $black;

// Warning button variables
$govuk-warning-button-colour: $alpha-label-text;
$govuk-warning-button-hover-colour: govuk-shade($govuk-warning-button-colour, 20%);
$govuk-warning-button-shadow-colour: govuk-shade($govuk-warning-button-colour, 60%);
$govuk-warning-button-text-colour: $white;




$govuk-font-family: 'Poppins', sans-serif;

/// Font families to use when displaying tabular numbers
///
/// @type List
/// @access public

$govuk-font-family-tabular: 'Poppins', sans-serif;

/// Font families to use for print media
///
/// @type List
/// @access public

$govuk-font-family-print: 'Poppins', sans-serif;

// $govuk-font-family: ;

// needed for IE10 desktop snap mode: http://menacingcloud.com/?c=cssViewportOrMetaTag
@-ms-viewport {
  width: device-width;
}

// To be removed when all text uses the GOV.UK Frontend New Transport font styles.
// At present, some text gets these styles due to being in a GOV.UK Frontend component
// or a link.
// This ensures all text will have these styles applied, until it can be moved to use
// the GOV.UK Frontend font styles.
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $brand-navy;
  font-family: 'Poppins', sans-serif !important;
}

b,
strong {
  font-weight: 600;
}

abbr[title] {
  cursor: help;
}

.js-enabled .js-hidden {
  display: none;
}

// To be removed when all search inputs use the GOV.UK Frontend text input component:
// https://design-system.service.gov.uk/components/text-input/
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof). 
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  margin-right: 2px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Each selector, and then the whole block when only one remains, to be removed when the
// element comes from the corresponding GOV.UK Frontend component:
// - https://design-system.service.gov.uk/components/text-input/
// - https://design-system.service.gov.uk/components/textarea/
// - https://design-system.service.gov.uk/components/select/
// - https://design-system.service.gov.uk/components/button/

// Global styles for form controls

input:focus,
textarea:focus,
select:focus
{
  outline: 3px solid $focus-colour;
  outline-offset: 0;
}
