{% extends "template.njk" %}
{% from "components/banner.html" import banner %}
{% from "components/cookie-banner.html" import cookie_banner %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ asset_url('images/favicon.ico') }}" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_url('images/govuk-mask-icon.svg') }}" color="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset_url('images/govuk-apple-touch-icon-180x180.png') }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ asset_url('images/govuk-apple-touch-icon-167x167.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ asset_url('images/govuk-apple-touch-icon-152x152.png') }}">
  <link rel="apple-touch-icon" href="{{ asset_url('images/govuk-apple-touch-icon.png') }}">
{% endblock %}

{% block head %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main.css') }}" />
  <link rel="stylesheet" media="print" href="{{ asset_url('stylesheets/print.css') }}" />
  {% block extra_stylesheets %}
  {% endblock %}

  {% if g.hide_from_search_engines %}
    <meta name="robots" content="noindex" />
  {% endif %}
  <meta name="google-site-verification" content="niWnSqImOWz6mVQTYqNb5tFK8HaKSB4b3ED4Z9gtUQ0" />
  {% block meta_format_detection %}
    <meta name="format-detection" content="telephone=no">
  {% endblock %}
  {% block meta %}
  {% endblock %}
{% endblock %}

{% block pageTitle %}
   {% block per_page_title %}{% endblock %} – Catalyst Notify
{% endblock %}

{% block bodyStart %}
  {% block cookie_message %}
    {{ cookie_banner() }}
  {% endblock %}
{% endblock %}

{% block header %}
  {% if current_user.is_authenticated %}
    {% if current_user.platform_admin %}
      {% set navigation = [
        {
          "href": url_for('main.support'),
          "text": "Support",
          "active": header_navigation.is_selected('support')
        },
        {
          "href": url_for('main.documentation'),
          "text": "Documentation",
          "active": header_navigation.is_selected('documentation')
        },
        {
          "href": url_for('main.user_profile'),
          "text": current_user.name,
          "active": header_navigation.is_selected('user-profile')
        },
        {
          "href": url_for('main.platform_admin_splash_page'),
          "text": "Platform admin",
          "active": header_navigation.is_selected('platform-admin')
        },
        {
          "href": url_for('main.sign_out'),
          "text": "Sign out"
        }
      ] %}
    {% else %}
      {% set navigation = [
        {
          "href": url_for('main.support'),
          "text": "Support",
          "active": header_navigation.is_selected('support')
        },
        {
          "href": url_for('main.documentation'),
          "text": "Documentation",
          "active": header_navigation.is_selected('documentation')
        },
        {
          "href": url_for('main.user_profile'),
          "text": current_user.name,
          "active": header_navigation.is_selected('user-profile')
        },
        {
          "href": url_for('main.sign_out'),
          "text": "Sign out"
        }
      ] %}
    {% endif %}
  {% else %}
    {% set navigation = [
      {
        "href": url_for('main.support'),
        "text": "Support",
        "active": header_navigation.is_selected('support')
      },
      {
        "href": url_for('main.features'),
        "text": "Features",
        "active": header_navigation.is_selected('features')
      },
      {
        "href": url_for('main.documentation'),
        "text": "Documentation",
        "active": header_navigation.is_selected('documentation')
      },
      {
        "href": url_for('main.sign_in'),
        "text": "Sign in",
        "active": header_navigation.is_selected('sign-in')
      }
    ] %}
  {% endif %}

  <header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="{{ url_for('main.show_accounts_or_dashboard') }}" class="govuk-header__link govuk-header__link--homepage govuk-header__logo">
          <span class="govuk-header__logotype">
            <img src="/static/images/catalyst_logo.svg" alt="Catalyst" height="50px">
          </span>
        </a>
      </div>
      <div class="govuk-header__content">
        {% if navigation %}
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation"
          aria-label="Show or hide navigation menu">Menu</button>
        <nav>
          <ul id="navigation" class="govuk-header__navigation govuk-header__navigation--end" aria-label="Navigation menu">
            {% for item in navigation %}
            {% if item.text or item.html %}
            <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if item.active }}">
              {% if item.href %}
              <a class="govuk-header__link" href="{{ item.href }}" {% for attribute, value in item.attributes %}
                {{attribute}}="{{value}}" {% endfor %}>
                {% endif %}
                {{ item.html | safe if item.html else item.text }}
                {% if item.href %}
              </a>
              {% endif %}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
      </div>
    </div>
  </header>

  <div class="proposition-phase">
    <div class="grid-container">
      <div class="column-full-width">
        <div class="inner govuk-width-container">
          <div class="phase-banner">
            <span class="phase-label is-alpha">Alpha</span>
            <span class="phase-notice">This is a new service – your <a
                href="https://airtable.com/shrcSFfRzVT0bucct?prefill_Recipe+Page=https://notifications.thecatalyst.org.uk"
                target="_blank" rel="noopener">feedback</a> will help us to improve it.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% set meta_items = [
    {
      "href": url_for("main.privacy"),
      "text": "Privacy"
    },
    {
      "href": url_for("main.cookies"),
      "text": "Cookies"
    },
    {
      "href": url_for("main.accessibility_statement"),
      "text": "Accessibility statement"
    }
  ] %}

  {% set meta_suffix = 'Built by <a href="https://www.wearecast.org.uk/" class="govuk-footer__link" rel="noopener nofollow">CAST</a> & <a href="https://bitzesty.com/" class="govuk-footer__link" rel="noopener nofollow">Bit Zesty</a> for <a href="https://www.thecatalyst.org.uk/" class="govuk-footer__link">Catalyst</a>' %}

  <footer class="govuk-footer js-footer" role="contentinfo">
    <div class="govuk-width-container ">

      <a href="{{ url_for('main.show_accounts_or_dashboard') }}">
        <img src="/static/images/catalyst_logo_white.svg" alt="Catalyst" height="50px">
      </a>
      <div class="govuk-footer__socialmedia">
        <a href="">
          <img class="socialmedia-twitter" src="/static/images/twitter_logo.svg" alt="Twitter" height="50px">
        </a>
        <a href="">
          <img class="socialmedia-linkedin" src="/static/images/linkedin_logo.svg" alt="Linkedin" height="50px">
        </a>
        <a href="">
          <img class="socialmedia-youtube" src="/static/images/youtube_logo.svg" alt="Youtube" height="50px">
        </a>
      </div>


      <div class="govuk-footer__navigation">

        <div class="govuk-footer__section">
          <h2 class="govuk-footer__heading govuk-heading-m">Support</h2>


          <ul class="govuk-footer__list govuk-footer__list--columns-1">


            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.support')}}">
                Contact support
              </a>
            </li>


          </ul>

        </div>

        <div class="govuk-footer__section">
          <h2 class="govuk-footer__heading govuk-heading-m">About Notify</h2>


          <ul class="govuk-footer__list govuk-footer__list--columns-1">


            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.features')}}">
                Features
              </a>
            </li>



            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.roadmap')}}">
                Roadmap
              </a>
            </li>



            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.who_can_use_notify')}}">
                Who can use Notify
              </a>
            </li>



            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.security')}}">
                Security
              </a>
            </li>



            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.terms')}}">
                Terms of use
              </a>
            </li>



            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="https://www.thecatalyst.org.uk/blog">
                Blog
              </a>
            </li>


          </ul>

        </div>

        <div class="govuk-footer__section">
          <h2 class="govuk-footer__heading govuk-heading-m">Pricing and payment</h2>


          <ul class="govuk-footer__list govuk-footer__list--columns-1">


            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.pricing')}}">
                Pricing
              </a>
            </li>



            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.how_to_pay')}}">
                How to pay
              </a>
            </li>


          </ul>

        </div>

        <div class="govuk-footer__section">
          <h2 class="govuk-footer__heading govuk-heading-m">Using Notify</h2>


          <ul class="govuk-footer__list govuk-footer__list--columns-1">


            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.get_started')}}">
                Get started
              </a>
            </li>



            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.trial_mode_new')}}">
                Trial mode
              </a>
            </li>



            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.message_status')}}">
                Delivery status
              </a>
            </li>



            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.guidance_index')}}">
                Guidance
              </a>
            </li>



            <li class="govuk-footer__list-item">
              <a class="govuk-footer__link" href="{{url_for('main.documentation')}}">
                API documentation
              </a>
            </li>


          </ul>

        </div>

      </div>
      <!-- <hr class="govuk-footer__section-break"> -->

      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

          <h2 class="govuk-visually-hidden">Support links</h2>

          <ul class="govuk-footer__inline-list">

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="{{url_for('main.privacy')}}">
                Privacy
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="{{url_for('main.cookies')}}">
                Cookies
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="{{url_for('main.accessibility_statement')}}">
                Accessibility statement
              </a>
            </li>

          </ul>


          <div class="govuk-footer__meta-custom">
            Built by <a href="https://www.wearecast.org.uk/" class="govuk-footer__link" rel="noopener nofollow">CAST</a>
            &amp; <a href="https://bitzesty.com/" class="govuk-footer__link" rel="noopener nofollow">Bit Zesty</a> for <a
              href="https://www.thecatalyst.org.uk/" class="govuk-footer__link">Catalyst</a>
          </div>


          <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 483.2 195.7" height="17" width="41">
            <path fill="currentColor"
              d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145">
            </path>
          </svg>
          <span class="govuk-footer__licence-description">
            All content is available under the
            <a class="govuk-footer__link"
              href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open
              Government Licence v3.0</a>, except where otherwise stated
          </span>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
